.HomeDiv_section1 {
  background: #000;
  position: relative;
  overflow: hidden;
}
.HomeDiv_section1_container {
  width: -webkit-fill-available;
  max-width: 1400px;
  margin: auto;
  padding: 0em 2em;
}
.HomeDiv_section1_area_1_title_span {
  color: #18b36c;
}
.HomeDiv_section1_area {
  display: flex;
  justify-content: space-between;
  color: #fff;
  position: relative;
}
.HomeDiv_section1_area_1 {
  padding: 8em 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 8em;
}
.HomeDiv_section1_area_1_title {
  font-size: 82px;
  color: #fff;
  line-height: 1.1;
  margin-bottom: 0.3em;
  font-weight: 700;
}
.HomeDiv_section1_area_1_para {
  color: #c9c9c9;
  font-size: 18px;
  margin-top: 10px;
  width: 40%;
  line-height: 1.5;
  font-weight: 400;
}
.HomeDiv_section1_area_1_btn_div {
  margin-top: 4em;
}
.HomeDiv_section1_area_1_btn {
  width: 150px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background: #18b36b;
  color: #fff;
  font-weight: 500;
}
.HomeDiv_section1_area_2 {
  width: 750px;
  padding: 2em 3em;
  background: #9be3bbc7;
  display: flex;
  position: absolute;
  right: -15%;
  height: 100%;
  align-items: center;
  overflow: auto;
  justify-content: center;
}
.HomeDiv_section1_area_2_card1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin: 1em 0em; */
  border-radius: 20px;
  overflow: hidden;
  border: solid 1px #bdffe1;
}
.HomeDiv_section1_area_2_card1_img {
  width: 100%;
  border-radius: 20px;
  /* margin-bottom: 1em; */
  height: 500px;
  object-fit: cover;
}
.landingPageSection2_area_1 {
  width: 90%;
  margin-right: 6em;
}

.landingPageSection2_area_1_img {
  width: 100%;
}

.swiper-wrapper {
  width: 20em !important;
}
.HomeDiv_section2 {
  background: #fff;
  padding: 6em 0em;
  position: relative;
}
.HomeDiv_section2_area {
  display: flex;
  flex-direction: column;
}
.HomeDiv_section2_area_title {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.HomeDiv_section2_area_title_btn {
  padding: 14px;
  width: 120px;
  border-radius: 10px;
  border: none;
  background: #18b36a;
  color: #fff;
  font-weight: 500;
}
.HomeDiv_section2_area_body {
  /* display: flex; */
  display: grid;
  gap: 20px 20px;
  width: 100%;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  justify-content: flex-start;
}
.HomeDiv_section2_area_body .dashboardMarketPlace_div1_body_conts_div1 {
  display: flex;
  flex-direction: column;
  background: #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  border: solid 1px #e6e6e6;
}

.HomeDiv_section2_area_body
  .dashboardMarketPlace_div1_body_conts_div1
  .dashboardMarketPlace_div1_body_conts_div1_title {
  padding: 0.5em 1em;
  color: #5b5b5b;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 0em;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #dfdfdf;
  padding-bottom: 1em;
  font-weight: 700;
}
.HomeDiv_section2_area_body
  .dashboardMarketPlace_div1_body_conts_div1
  .dashboardMarketPlace_div1_body_conts_div1_title
  .dashboardMarketPlace_div1_body_conts_div1_creator_span {
  margin-left: 5px;
  color: #000;
  font-weight: 700;
  font-size: 12px;
}

.HomeDiv_section2_area_body
  .dashboardMarketPlace_div1_body_conts_div1
  .dashboardMarketPlace_div1_body_conts_div1_amount {
  padding: 0.6em 0.5em;
  display: flex;
  align-items: baseline;
  color: #000000;
  font-size: 28px;
  font-weight: 600;
}
.HomeDiv_section3 {
  padding: 4em 0em;
  background: #fff;
}

.HomeDiv_section3_div2 {
  display: flex;
  justify-content: space-between;
  background: #000;
  padding: 4em;
  width: -webkit-fill-available;
  border-radius: 20px;
  overflow: hidden;
  align-items: center;
}
.HomeDiv_section3_div2_cont1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.HomeDiv_section3_div2_cont1_title {
  font-size: 58px;
  font-weight: 600;
  width: 80%;
  margin-bottom: 1em;
}
.HomeDiv_section3_div2_cont1_title_ {
  color: #18b36c;
}
.HomeDiv_section3_div2_cont1_btn {
  width: 150px;
  border: none;
  padding: 15px;
  border-radius: 10px;
  font-weight: 500;
}
.HomeDiv_section3_div2_cont2 {
  width: 50%;
  margin-right: 2em;
}
.HomeDiv_section3_div2_cont2_cont {
  box-shadow: 7px 0 0 -1px #000, 7px 0 0 0 rgba(84, 84, 84, 0.8),
    14px 0 0 -1px #000, 14px 0 0 0 rgba(84, 84, 84, 0.7), 21px 0 0 -1px #000,
    21px 0 0 0 rgba(84, 84, 84, 0.6), 28px 0 0 -1px #000,
    28px 0 0 0 rgba(84, 84, 84, 0.5), 35px 0 0 -1px #000,
    35px 0 0 0 rgba(84, 84, 84, 0.4), 42px 0 0 -1px #000,
    42px 0 0 0 rgba(84, 84, 84, 0.3), 49px 0 0 -1px #000,
    49px 0 0 0 rgba(84, 84, 84, 0.2), 56px 0 0 -1px #000;
  padding: 2em;
  border: solid 1px #404040;
  border-radius: 10px;
}
.HomeDiv_section3_div2_cont2_img {
  width: 100%;
}
.HomeDiv_section4 {
  position: relative;
  background: #000;
  padding: 6em 0;
}
.HomeDiv_section4_area {
  color: #fff;
  display: flex;
  flex-direction: column;
}
.HomeDiv_section4_title {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.HomeDiv_section4_area_body_cont1 {
  padding: 2em;
  border: solid 1px #383838;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  height: 310px;
}
.HomeDiv_section4_area_body_cont1_title {
  font-size: 24px;
  font-weight: 500;
  margin: 1em 0em;
  margin-bottom: 0.5em;
}
.HomeDiv_section4_area_body_cont1_para {
  color: #989898;
  margin-bottom: 2em;
  line-height: 1.5;
}

.HomeDiv_section4_area_body_cont1_btn {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #fff;
  font-weight: 500;
  font-size: 13px;
}
.HomeDiv_section4_area_body {
  display: grid;
  gap: 20px 20px;
  /* width: 80%; */
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: flex-start;
}
.HomeDiv_section5 {
  padding: 6em 0em;
  background: #000;
  position: relative;
}
.HomeDiv_section5_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.HomeDiv_section5_area_1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HomeDiv_section5_area_1_img {
  width: 80%;
}

.HomeDiv_section5_area_2 {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 4em;
}
.HomeDiv_section5_area_2_title {
  font-size: 58px;
  font-weight: 600;
  width: 80%;
  margin-bottom: 0.5em;
}
.HomeDiv_section5_area_2_para {
  font-size: 20px;
  line-height: 1.5;
  color: #b5b5b5;
  margin-bottom: 3em;
  width: 70%;
}
.HomeDiv_section5_area_2_title_span {
  color: #18b36d;
}
.HomeDiv_section5_area_2_btn {
  width: 150px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  background: #fff;
  color: #000;
}
@media screen and (max-width: 1300px) {
  .HomeDiv_section1_area_2 {
    width: 600px;
    padding: 2em 2em;
  }
}
@media screen and (max-width: 1150px) {
  .HomeDiv_section1_area_1_title {
    font-size: 68px;
  }
  .HomeDiv_section1_area_1_para {
    font-size: 16px;
    margin-top: 10px;
    width: 45%;
  }
  .HomeDiv_section1_area_1_btn_div {
    margin-top: 3em;
  }
  .HomeDiv_section1_area_1 {
    margin-top: 1em;
  }
  .dashboardMarketPlace_div1_body_conts_div1_img_div {
    height: 200px;
  }
  .HomeDiv_section3_div2_cont1_title {
    margin-bottom: 0.5em;
  }
}
@media screen and (max-width: 1024px) {
  .HomeDiv_section2 {
    padding: 4em 0em;
    position: relative;
  }
  .HomeDiv_section4 {
    position: relative;
    padding: 4em 0;
  }
  .HomeDiv_section5 {
    padding: 4em 0em;
  }
  .HomeDiv_section5_area_2_para {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 2em;
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .HomeDiv_section1_area_2_card1_img {
    height: 300px;
  }
  .HomeDiv_section1_area_2 {
    padding: 2em 2em;
    height: 270px;
    left: -4%;
    width: 100%;
    bottom: 0%;
  }
  .HomeDiv_section1_area_1 {
    margin-top: 0;
    margin-bottom: 16em;
    padding-top: 4em;
  }
  .HomeDiv_section1_area_1_para {
    width: 60%;
  }
  .HomeDiv_section2_area_body {
    display: grid;
    gap: 20px 20px;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: flex-start;
  }
  .HomeDiv_section5_area_2_title {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .HomeDiv_section5_area_2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 1em;
  }
  .HomeDiv_section5_area {
    flex-direction: column-reverse;
  }
  .HomeDiv_section5_area_2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
  }
  .HomeDiv_section5_area_2_para {
    width: 50%;
  }
  .HomeDiv_section4_title {
    font-weight: 600;
  }
  .HomeDiv_section3_div2 {
    display: flex;
    justify-content: space-between;
    background: #000;
    padding: 4em;
    width: -webkit-fill-available;
    border-radius: 20px;
    overflow: hidden;
    align-items: flex-start;
    flex-direction: column;
  }
  .HomeDiv_section3_div2_cont2 {
    width: 50%;
    margin-right: 0;
    margin-top: 2em;
  }
  .HomeDiv_section3_div2_cont1_title {
    font-size: 58px;
    font-weight: 600;
    width: 100%;
    margin-bottom: 1em;
  }
  .HomeDiv_section3_div2_cont1_title {
    font-size: 58px;
    font-weight: 600;
    width: 100%;
  }
  .HomeDiv_section3_div2_cont1 {
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 767px) {
  .HomeDiv_section1_area_1_para {
    width: 100%;
  }
  .HomeDiv_section5_area_2_para {
    width: 100%;
  }
  .HomeDiv_section5_area_1_img {
    width: 70%;
  }
  .HomeDiv_section3_div2_cont2 {
    width: 70%;
  }
}

@media screen and (max-width: 650px) {
  .HomeDiv_section4_area_body {
    display: grid;
    gap: 20px 20px;
    /* width: 80%; */
    grid-template-columns: repeat(1, minmax(0, 1fr));
    justify-content: flex-start;
  }
  .HomeDiv_section2_area_body {
    display: grid;
    gap: 10px;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-content: flex-start;
  }
  .dashboardMarketPlace_div1_body_conts_div1_img {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    object-fit: cover;
    border-radius: 15px;
    margin: 0.5em;
  }
  .HomeDiv_section1_area_2 {
    left: -6%;
    overflow: hidden;
  }
  .HomeDiv_section1_area_1_title {
    font-size: 48px;
  }
  .HomeDiv_section5_area_2_title {
    width: 100%;
    font-size: 48px;
  }
  .HomeDiv_section3_div2 {
    padding: 3em;
  }
  .HomeDiv_section3_div2_cont1_title {
    font-size: 48px;
    font-weight: 600;
    width: 100%;
  }
  .HomeDiv_section3_div2_cont2 {
    width: 80%;
  }
  .HomeDiv_section5_area_1 {
    margin-top: 2em;
  }
  .HomeDiv_section4_area_body_cont1 {
    height: 250px;
  }
  .HomeDiv_section3 {
    padding: 2em 0em;
    background: #fff;
  }
  .HomeDiv_section2_area_body
    .dashboardMarketPlace_div1_body_conts_div1
    .dashboardMarketPlace_div1_body_conts_div1_title {
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 0em;
    display: flex;
    justify-content: space-between;
    border-bottom: none;
    padding-bottom: 10px;
    font-weight: 700;
  }
  .HomeDiv_section2_area_body
    .dashboardMarketPlace_div1_body_conts_div1
    .dashboardMarketPlace_div1_body_conts_div1_amount {
    padding: 10px;
    display: flex;
    align-items: baseline;
    font-size: 20px;
    font-weight: 600;
  }
  .dashboardMarketPlace_div1_body_conts_div1_amount
    .dashboard_home_page_div_3_cont2_body_cont1_img_div_txt_div_amount_txt_img {
    width: 16px;
    margin-right: 5px;
    /* margin-bottom: -9px; */
  }
  .HomeDiv_section1_container {
    width: -webkit-fill-available;
    max-width: 1400px;
    margin: auto;
    padding: 0em 1em;
  }
  .HomeDiv_section2_area_title {
    font-size: 32px;
    font-weight: 600;
  }
  .HomeDiv_section4_title {
    font-weight: 600;
    font-size: 32px;
  }
  .HomeDiv_section5 {
    padding: 4em 0em;
    padding-top: 2em;
  }
}
@media screen and (max-width: 500px) {
  .HomeDiv_section3_div2 {
    padding: 3em 2em;
  }
}
